.card .card-image img {
    width:300px;
    padding-left: 150px
}

.mycards{
    padding-left: 130px;
}

.login_button{
    
    margin-right: 500px;
}

.register_button{
    
    margin-right: 500px;
}


.add_movie_button{
    
    margin-left: 400px;
}


